.git
.gitignore
.DS_Store

.env
.env.*
!.env.example

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

bootstrap/cache/*.php

docker-compose.yml
docker-compose*.yml
